{% extends 'base.html' %}


{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<div class="page">
    <div class="dashboard">
        <h1>Hi {{current_user.username}}! This is your user dashboard! ♥ </h1>
        <h2>There is absolutely nothing here</h2>
        <h3>Potentially this could show statistics about your chores!</h3>
        <h4>But I don't know how to do that yet.</h4>
        <a id="dash-goto-main" class="dashbutt" href="{{ url_for('index')}}">To do list</a>
        <a id="dash-logout" href="{{url_for('logout')}}">Log Out</a>
    </div>
</div>
{% endblock %}
